<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    h1{
      font-family:roboto;font-size:40px;
      font-weight:normal;color:rgb(40,40,40);
      text-align:center
      }
    #banner{
      width:100%;height:360px
    }
    h2{
      font-family:roboto;font-size:30px;
      font-weight:normal;color:rgb(60,60,60);
      text-align:center
    }
    p{
      font-family:roboto;font-size:20px;
      font-weight:normal;color:rgb(80,80,80);
      text-align:center
    }
    #container{
      max-width:720px;margin:0 auto
    }
  </style>
  <title>Career Website</title>
</head>
<body>
  <div id="container">
  <h1>Career Website</h1>
  <img id="banner" src="static/web_image.jpg", height=300, width=350>
  <h2>About</h2>
  <p>Are you looking for a new job? Look no further! Our job search website is the perfect place to find your next career opportunity. We have a wide variety of jobs to choose from, in all industries and locations. You can search for jobs by keyword, location, or company. You can also create a profile and upload your resume, so employers can find you.</p>
  <h2>Open Positions</h2>
  <p>To Do</p>
    <div style="text-align:center">
      <button>Contact Us</button>
    </div>
  </div>
</body>
</html>