<!DOCTYPE html>
<html lang="en">
<head>
  <title>Career Website</title>
</head>
<body>
  <h1>Career Website</h1>
  <img src="static/web_image.jpg", height=300, width=350>
  <h2>About</h2>
  <p>Are you looking for a new job? Look no further! Our job search website is the perfect place to find your next career opportunity. We have a wide variety of jobs to choose from, in all industries and locations. You can search for jobs by keyword, location, or company. You can also create a profile and upload your resume, so employers can find you.</p>
  <h2>Open Positions</h2>
  <p>To Do</p>
  <button>Contact Us</button>
</body>
</html>